<ion-header>
  <ion-toolbar>
  
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Repay Bill</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-item>
      
    <ion-button full (click)="openLink()">Who do you wish to Pay </ion-button >
  </ion-item>
</ion-content>
