<ion-header>
  <ion-toolbar>
  
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Bank Details</ion-title>
  </ion-toolbar>
  </ion-header>
<ion-content>

</ion-content>
