
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>


<ion-content>

  <div id="container">
    <strong>BILL PALS<br>
    LOGO
    </strong>
     </div>
<div id="span">
  <h2>Sign In</h2>
  
</div>


<form class="form" [formGroup]="validations_form" (ngSubmit)="login(validations_form.value)" >

  <ion-item class="roundedInput">
    <ion-label position="floating" color="primary"><ion-icon name="mail"></ion-icon> &nbsp;Email</ion-label>
    <ion-input type="text" formControlName="email"> 
    </ion-input>
  </ion-item>

  <ion-item class="roundedInput">
    <ion-label position="floating" color="primary"><ion-icon name="key"></ion-icon> &nbsp;Password</ion-label>
    <ion-input type="password" formControlName="password"></ion-input>
  </ion-item>
<ion-button 
class="submit-btn"  type="submit"
style =" padding-left: 5em;
padding-right: 5em;--background: #0045bb;" expand="block" shape="round" >Login</ion-button>
  <label class="error-message">{{errorMessage}}</label>
  <label class="success-message">{{successMessage}}</label>

  <a (click)="goForgetPage()" style="
  text-align: center;color: white;text-decoration: none;">Forgot Your  Password ?</a>

 
 <p style="
 text-align: center;color: white;">New User ? <a (click)="goRegisterPage()" style="color: blue;text-decoration: none;">Create an Account</a></p>

  
</form>


</ion-content>
