<ion-header>
  <ion-toolbar>
  
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Request a Loan</ion-title>
  </ion-toolbar>
  </ion-header>
<ion-content>
  <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegister(validations_form.value)">

    <ion-item>
      <ion-label position="floating" color="primary">Amount(upto $1000) </ion-label>
      <ion-input type="search" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Amount</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">How Many Monthly installments </ion-label>
      
      <ion-select placeholder="">
        <ion-select-option value="f">1</ion-select-option>
        <ion-select-option value="m">2</ion-select-option>
        <ion-select-option value="m">3</ion-select-option>
      </ion-select>
    </ion-item>
<br>  
    
  <ion-button (click)="showAlert()"  style =" padding-left: 5em;
    padding-right: 5em;--background: #3bb44b;" expand="block" shape="round" >Next</ion-button>    
  </form>

</ion-content>
