ion-header{

    --ion-background-color: #3bb44b;
   
  }
  ion-back-button{

    color:white;
  }
  ion-title{
color:white;

  }
  ion-select {
    width: 100%;
  
    justify-content: center;
  }
  
  /* Set the flex in order to size the text width to its content */
  ion-select::part(placeholder),
  ion-select::part(text) {
    flex: 0 0 auto;
  }
  
  /* Set the placeholder color and opacity */
  ion-select::part(placeholder) {
    color: #20a08a;
    opacity: 1;
  }
  
  /*
   * Set the font of the first letter of the placeholder
   * Shadow parts work with pseudo-elements, too!
   * https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements
   */
  ion-select::part(placeholder)::first-letter {
    font-size: 24px;
    font-weight: 500;
  }
  
  /* Set the text color */
  ion-select::part(text) {
    color: #545ca7;
  }
  
  /* Set the icon color and opacity */
  ion-select::part(icon) {
    color: #971e49;
    opacity: 1;
  }
 