
<ion-header>
<ion-toolbar>

  <ion-buttons slot="start">
    <ion-back-button defaultHref="dashboard"></ion-back-button>
  </ion-buttons>
  <ion-title>Pay a Bill</ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
  <br>
  
  
  <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegister(validations_form.value)">

    <ion-item>
      <ion-label position="floating" color="primary">Amount</ion-label>
      <ion-input type="search" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Due Date</ion-label>
      <ion-input type="Date" formControlName="email"></ion-input>
    </ion-item>
  
  
    <ion-button (click)="showAlert()"  style =" padding-left: 5em;
    padding-right: 5em;--background: #3bb44b;" expand="block" shape="round" >Submit</ion-button>    
  </form>
  

</ion-content>
