.error-message
{
  color: var(--ion-color-danger);
}
ion-content{
  
  --ion-background-color:#3bb44b;
}
ion-toolbar{
  --ion-background-color:#3bb44b;

}

.success-message
{
  color: var(--ion-color-success);
}
.roundedInput {
    --border-color: var(--ion-color-medium-shade);
    --border-radius: 50px;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    --box-shadow: 2px gray;
    --highlight-height: 0;
    --background: #f8f9fa;
   }