

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
   
  </ion-toolbar>



<ion-content padding class="form-content">

  <img src="assets/user.png" style="padding-left: 5em;margin-left: 3em;" >

<h1 style="text-align: center;font-weight: 700;color: white;">Hello ,Welcome</h1>

  <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegister(validations_form.value)">

    <ion-item class="roundedInput">
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    
    <ion-item class="roundedInput"> 
      <ion-label position="floating" color="primary">First Name</ion-label>
      <ion-input type="text" formControlName="fname"></ion-input>
    </ion-item>
  

     <ion-item class="roundedInput">
      <ion-label position="floating" color="primary">Last Name</ion-label>
      <ion-input type="text" formControlName="lname"></ion-input>
    </ion-item>
    <ion-item class="roundedInput">
      <ion-label position="floating" color="primary">Mobile Phone</ion-label>
      <ion-input type="text" formControlName="mobile"></ion-input>
    </ion-item>
    
    <ion-item class="roundedInput">
      <ion-label position="floating" color="primary">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item class="roundedInput">
      <ion-label position="floating" color="primary">confirm Password</ion-label>
      <ion-input type="password" formControlName="cpassword"></ion-input>
    </ion-item>
<span style="color: white;margin-left: 8px;margin-top: 5px;">
    <ion-checkbox ></ion-checkbox>

  </span>
   <p style="color:white;
   padding-left: 3em;
   padding-right: 3em;
font-size: small;
 margin-top: -17px;
   ">I agree that I have read, understood,
    consent to the Terms & Conditions & Electronic
    Signature of BillPals, Inc.</p>
 

<ion-button  class="submit-btn" type="submit" style =" padding-left: 5em;
padding-right: 5em;--background: #0045bb;" expand="block" shape="round" type="submit" >Sign Up</ion-button>
    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
  </form>
  <p style="
  text-align: center;color: white;">Already have an account ? <a (click)="goLoginPage()" style="color: blue;text-decoration: none;">Login</a></p>





</ion-content>
