<ion-header>
  <ion-toolbar>
     
    <ion-title >Bill PALS</ion-title>
      <ion-buttons  slot="start">
        
          <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-button style="--background:#3bb44b;--box-shadow:0;--background-activated:none;--background-focused-opacity: 0;--background-hover-opacity: 0;" slot="end" [routerLink]="['/profile']">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="text-align: center;font-size: 16px;">Welcome to BillPals ! <br>
    We are here to help you. </h1>
  <br>
  <ion-button (click)="goPaybillPage()"  style =" padding-left: 5em;
  padding-right: 5em;--background: #299637;" expand="block" shape="round" >Pay a Bill</ion-button>
  <br>
<ion-button (click)="goRequestloanPage()"  style =" padding-left: 3em;
padding-right: 3em;--background: #299637;" expand="block" shape="round" >Request a Loan</ion-button>
<br>
<ion-button (click)="goMyloanPage()"  style =" padding-left: 7em; font-size:12px;
padding-right: 7em;--background: #333333;" expand="block"  >My Loan(s)</ion-button>
<br>
<ion-button (click)="goHistoryPage()"  style =" padding-left: 7em;font-size:12px;
padding-right: 7em;--background: #333333;" expand="block" >View History</ion-button>
<br>
<ion-button (click)="goRepaybillPage()"  style =" padding-left: 6.5em;font-size:12px;
padding-right: 6.5em;--background: #333333;" expand="block" >Repay Bill Pay</ion-button>
<br>

<ion-button (click)="gobankPage()"  style =" padding-left: 5.5em;font-size:12px;
  padding-right: 5.5em;--background: #333333;" expand="block" >Add Bank Account</ion-button>

<ion-button (click)="logout()" style =" padding-left: 5.5em;font-size:12px;
  padding-right: 5.5em;--background: #333333;" expand="block" >logout</ion-button>






</ion-content>