#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    transform: translateY(-50%);
  }
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }

  #span {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    transform: translateY(-50%);
  }
  #span h2{
    font-size: 31px;
    font-weight: 400;
    line-height: 22px;
  
    color: #ffffff;
  
    margin: 0; 
  }
  #span strong{
    font-size: 20px;
    line-height: 26px;
  }
  .roundedInput {
    --border-color: var(--ion-color-medium-shade);
    --border-radius: 50px;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    --box-shadow: 2px gray;
    --highlight-height: 0;
    --background: #f8f9fa;
   }

   ion-toolbar{

    --ion-background-color: #3bb44b;
  }
  ion-content {
    --ion-background-color: #3bb44b;
}
   .form{
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 55%;
    transform: translateY(-50%);

  }