<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="home"></ion-back-button>
  </ion-buttons>
</ion-toolbar>


<ion-content>
  <div id="container">
    <strong>BILL PALS<br>
    LOGO
    </strong>
     </div>
<div id="span">
  <h2>Forgot Password</h2>
  <p style="color: white; font-size: small;">Reset Your Password</p>
  
</div>


<div style="margin-top: 250px;"> 
  <ion-item class="roundedInput">
    <ion-label position="floating" color="primary"><ion-icon name="mail"></ion-icon> &nbsp;Email</ion-label>
    <ion-input type="email"  [(ngModel)]="email" class="input" > 
    </ion-input>
  </ion-item>
<br>
  <ion-button  (click)="recover()" style =" padding-left: 5em;
padding-right: 5em;--background: #0045bb;" expand="block" shape="round" >Next</ion-button>
  <label class="error-message">{{errorMessage}}</label>
  <label class="success-message">{{successMessage}}</label>

</div>



</ion-content>
