#span {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  #span h2{
    font-size: 31px;
    font-weight: 400;
    line-height: 22px;
  
    color: #ffffff;
  
    margin: 0; 
  }
  #span strong{
    font-size: 20px;
    line-height: 26px;
  }
  
  
  
  #container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    transform: translateY(-50%);
  }
  ion-content{
  
    --ion-background-color:#3bb44b;
  }
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  
  #span p {
    font-size: 14px;
    line-height: 34px;
  
    color: #ffffff;
  
    margin: 0;
  }
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
