<ion-content [fullscreen]="true">


    <div id="container">
      <strong>BILL PALS<br>
      LOGO
      </strong>
       </div>
  <div id="span">
    <h2>Sign Up</h2>
    <p>It's easier to sign up now</p>
  </div>
  <ion-row>       
                  
    <ion-button (click)="authService.GoogleAuth()" shape="round" style="--border-color: var(--ion-color-light, #000000);
    position: absolute;
    --background: #ffffff;
    
  
    top: 60%;
    margin-left: 3.5em;
    padding-left: 2em;
    padding-right: 2em;
    transform: translateY(-50%);
    color:black;font-size: 12px;font-weight: 400;" expand="block" > <img src="assets/google.png" style="height: 20px;width: 20px;" > &nbsp;&nbsp;Continue with Google</ion-button>   
  
  </ion-row>
  <ion-row>       
                  
    <ion-button  (click)="goRegisterPage()" shape="round" style="--border-color: var(--ion-color-light, #000000);
    position: absolute;
    margin-left: 3.5em;
    text-transform: none;
    top: 70%;
    padding-left: 2em;
    padding-right: 2em;
    transform: translateY(-50%);
    color:#ffffff;font-size: 12px;font-weight: 400;" expand="block" fill="outline" >  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; I'll use email or phone &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</ion-button>   
  
  </ion-row>
  <p style="position:relative ;top: 80%;text-align: center;color: white;">Already have an account ? <a (click)="goLoginPage()" style="color: blue;text-decoration: none;">Login</a></p>
  
  
  
  </ion-content>
  